:root {
  --headerColor: #181818;
  --primaryColor: #111111;
  --secondaryColor: #ff004f;
  --tertiaryColor: #0e2a40;
  --violetColor: #5672fc;
  --primaryOffsetColor: #181818;
  --whiteColor: #ffffff;
  --bleakFontWeight: 400;
  --regularFontWeight: 500;
  --semiBoldFontWeight: 600;
  --boldFontWeight: 700;
  --primaryFontType: "Montserrat";
  --textColor: rgb(236, 236, 236);
}

.App {
  font-family: var(--primaryFontType);
  font-weight: var(--bleakFontWeight);
  color: white;
}
